*{
    text-align: center;
}

.d-flex{
    display: flex;
    flex-direction: column;
}

#results{
    padding: 2rem;
    margin: 10rem;
    border: 1px solid;
}

.true, .false{
    padding: 2rem;
    color: white;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

h2{
    margin-bottom: -7rem;
}